.container {
  width: calc(100% + 200px);
  height: 500px;
  position: absolute;
  top: calc(100% + 30px);
  right: -20%;
  background-color: var(--bg-box);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.container .str {
  font-style: italic;
}
