.container {
  background-color: var(--bg-box);
  border-radius: 8px;
  display: flex;
  position: relative;
  padding: 2%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.profile {
  width: 10%;
  margin: 0 1%;
}
.boxInputText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
