.container {
  background-color: var(--bg-box);
  border-radius: 8px;
  padding: 5%;
  margin: 0 0 5% 0;
  box-shadow: 0px 0px 5px 1px var(--shadow);
}
.titleBox {
  margin: 0 0 5% 0;
  font-weight: 500;
}
.titleBox a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  text-decoration: none;
  gap: 2%;
}

.itemTagBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  padding: 2%;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}
.itemTagBox:hover {
  background-color: var(--bg-item);
}
.itemTagBox .iconBox {
  font-size: 1.5rem;
  color: var(--font);
  padding: 1% 8px;
  border-radius: 8px;
}
.itemTagContent {
  font-size: 0.85rem;
}
.qtdPosts {
  font-size: 0.75rem;
  color: var(--font-nd);
}
.viewMore {
  font-size: 0.8rem;
}
